:root{
    --background-color:rgba(100,0,126,255);
    --span-bacground-color:rgba(187,0,252,255);
    --main-color : beige;
}
* {
  padding: 0;
  margin: 0;
}
body{
    background-color: var(--background-color);
    font-family: "Archivo", sans-serif;
}


/* styling header ***************************************************/
header {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: var(--main-color);
  
}
header > h1{
    padding: 6rem 1rem 1rem ;
    font-size: 3rem;
  }
header > p {
  padding: 2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
header>  button{
  display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    color: var(--background-color);
    background-color: var(--main-color);
    border: none;
    font-size: 1.2rem;
}
header>  button:hover{
cursor: pointer;
}



/*styling article**************************************************/
article {
  display: none;
  margin: 1rem auto 2rem;
  width: 50%;
  text-align: center;
  color: var(--main-color);
  border: .1rem solid var(--main-color);
  overflow: hidden;
}
article aside{
  float: left;
  width: 50%;
  height: 4rem;
  box-sizing: border-box;
  padding: 1rem;
}
article aside span{
  float: left;
  width: 20%;
  line-height: 1.5rem;
  background-color: var(--span-bacground-color);
}
article aside p{
  float: left;
  width: 80%;
  display: block;
  text-transform: capitalize;
  overflow: visible;
}
/*styling hide button*********************************************/
article  button{
  margin: 1rem 4rem;
  padding: 1rem 2rem;
  color: var(--background-color);
  background-color: var(--main-color);
  border: none;
  font-size: 1.2rem;
}
article button:hover{
cursor: pointer;
}

